section[id='seccionPrincipal']{
    background-color: #A7E6FF;
    position: sticky;
}

H1[id="textoTitulo"]{
    text-align: center;
    cursor: default;
    font-family: "Arial";
}

img[id="flechaRegreso"]{
    width: 100px;
    margin: 0px;
    padding: 0px;
    display: flex;
}

body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCYJy_Jwp3DvlfUQLkymhlipUEXvvxyPR3Ag&s);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

section[id="postAnimales"]{
    
}

